header {
    position: fixed;
    top: 0;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 5px 0px rgb(180, 180, 180);
    user-select: none;
    width: calc(100% - (15px * 2));
    margin: 15px 15px 0 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}

header > ul {
    list-style: none;
    user-select: none;
    float: right;
    margin-right: 20px;
}

.header_list {
    display: inline-block;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12px;
    transition: color 0.3s;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 20px;
    cursor: default;
}

.header_list:hover {
    color: rgb(0, 203, 0);
}

a {
    color: black;
    cursor: default;
}