header {
    position: sticky;
    top: 15px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 5px 10px rgb(180, 180, 180);
    user-select: none;
    width: calc(100% - 30px);
    margin: 0 15px 0 15px;
    border-radius: 20px;
    padding: 0 35px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    vertical-align: center;
    z-index: 1;
}

.menu {
    width: 30px;
    height: fit-content;
    margin: 0;
    padding: 0;
    display: none;
}

header > ul {
    list-style: none;
    user-select: none;
    float: right;
}

.header_list {
    display: inline-block;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: -5px 0 0 10px;
    transition: color 0.3s;
    margin-bottom: 0;
    font-size: 20px;
    cursor: default;
}

.header_list:hover {
    color: rgb(0, 203, 0);
}

a {
    color: black;
    cursor: default;
}

.title {
    display: inline-block;
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

@media screen and (max-width: 1200px) {

    header {
        width: 100%;
        margin: 0;
        padding: 0 20px 0 20px;
        border-radius: 0px;
        top: 0;
        height: 75px;
        box-shadow: 0px 5px 10px rgb(180, 180, 180);
    }

    header > ul {
        display: none;
    }

    .header_list {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}