@import url(../../header.css);

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

a {
    text-decoration: none;
}

.title {
    display: inline-block;
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    vertical-align:top;
}

.titlemed {
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

.wrapbook {
    background-color: rgb(141, 141, 141);
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.here {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    padding: 15px;
    color: rgb(53, 53, 53);
    margin-bottom: 3px;
}

img {
    display: inline-block;
    border: solid;
    height: 300px;
    border-style: black 1px;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

.imgs {
    display: table;
    margin: 0 auto;
}