@import url(../header.css);

* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.title {
    display: inline-block;
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.cattxt {
    text-align: center;
    margin-bottom: 15px;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    background-color: white;
    /* display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    flex-direction: row;
}

.subject {
    background-color: rgb(241, 241, 241);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.192);
    transition: box-shadow 0.5s, transform 0.5s;
}

.subject:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.192);
    /* margin-top: -5px;
    min-height: 10px; */
    transform: translateY(-10px);
}

img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    object-fit: scale-down;
    pointer-events: none;
}

@media only screen and (max-width: 1200px) {
    .cattxt {
        margin-top: 10px;
    }
}