@import url(../../header.css);

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

a {
    text-decoration: none;
}

.titlemed {
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}